{{define "header"}}
    {{partial "header.html" .}}
{{end}}

{{define "main"}}

{{ $paginator := .Paginator }}
{{ if  .Site.Params.featured }}
{{ if eq $paginator.PageNumber 1 }}
<div class="featured-posts">
    {{ $pages := .Site.RegularPages }}
    {{ range $page := $pages }}
      {{ if eq $page.Dir "featured/" }}
        {{ partial "featured" $page }}
      {{ end }}
    {{ end }}
    {{ range first 1 $pages }}
        {{ partial "featured" . }}
    {{ end }}
</div>
{{end}}
{{partial "patreon.html" .}}
<div class="post-list">
  {{ range $paginator.Pages }}
      {{ .Render "li" }}
  {{ end }}

</div>
{{ partial "pagination" . }}

{{else}}
<div class="post-list">
    {{ range $paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}
</div>
{{ partial "pagination" . }}
{{end}}
{{end}}
{{define "footer"}}
    {{partial "footer" .}}
{{end}}
